$font-one: 'Poppins', sans-serif;
$font-two: 'Heebo', sans-serif;
$font-three: 'Fraunces', serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-inline-size: 100%;
  block-size: auto;
}
