@media (min-width: 1024px) {

  .mobile-image{
    display: none;
  }

  header{

    nav{

      #nav-menu{
        display: none;
      }
    }
  }

  .section-one{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;

    .transform{
      grid-row: 1/2;
      grid-column: 1/6;
    }

    .transform-image{
      grid-column: 6/12;
    }

    .stand-out{
      grid-row: 2/3;
      grid-column: 1/6;
    }

    .stand-out-image{
      grid-column: 6/12;
    }
  }

  .section-two{
    display: flex;
    gap: 0;
  }

  .section-three{
    padding: 30px;

    .profiles{
      display: flex;
      gap: 2rem;
    }
  }

  .section-four{

    .item-one{
      display: flex;
    }

    .item-two{
      display: flex;
    }
  }
}
