@media (min-width: 1024px) {

  .mobile-image{
    display: none;
  }

  header{

    nav{

      #nav-menu{
        display: none;
      }
    }
  }

  .section-one{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;

    .transform{
      align-self: center;
      padding: 70px;
      grid-row: 1/2;
      grid-column: 1/7;
    }

    .transform-image{
      grid-column: 7/13;
    }

    .stand-out{
      padding: 70px;
      align-self: center;
      grid-row: 2/3;
      grid-column: 7/13;
    }

    .stand-out-image{
      grid-row: 2/3;
      grid-column: 1/7;
    }
  }

  .section-two{
    display: flex;
    gap: 0;
  }

  .section-three{

    h2{
      text-align: center;
    }

    .job-desc{
      text-align: center;
    }

    .profiles{

      p:nth-of-type(1) {
        margin-block-end: 3rem;
        padding: 0rem 2rem;
      }
    }

  }

  .section-four{

    .item-one{
      display: flex;
    }

    .item-two{
      display: flex;
    }
  }
}
