@media (max-width: 1023px) {

  .desktop-image{
    display: none;
  }

  header{

    nav{

      .nav-items{
        display: none;
      }
    }
  }

  .section-one{

    .stand-out{
      text-align: center;
      padding: 30px;
    }

    .transform{
      text-align: center;
      padding: 30px;
    }
  }

  .section-three{

    .profiles{
      flex-direction: column;

      p:nth-of-type(1) {
        margin-block-end: 1.2rem;
      }
    }

    p{
      text-align: center;
    }

    h2{
      text-align: center;
    }
  }
}
