@import "config";
@import "desktop";
@import "mobile";



header{
  position: relative;

  nav{
    display: flex;
    justify-content: space-between;

    ul{
      list-style-type: none;

      li{
        display: inline;
        margin-inline-start: 2rem;
        font-size: 14px;
      }
    }

    .nav-banner{
      color: #000000;
      font-weight: bold;
      font-family: $font-two;
      font-size: 25px;
      text-decoration: none;
    }

    .nav-link{
      color: #000000;
      text-decoration: none;
      font-family: $font-one;
    }
  }

  .write-up{

    h1{
      letter-spacing: 0.7rem;
      text-transform: uppercase;
      font-family: $font-three;
    }

    img{
      margin-inline-start: 30px;
    }
  }
}

.section-one{

  h1{
    margin-block-end: 1rem;
    font-family: $font-three;
  }

  p{
    @extend h1;
    font-family: $font-one;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
}

.section-two{

}

.section-three{
  font-family: $font-one;
  margin-block-start: 5rem;
  margin-block-end: 5rem;

  h1{
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-block-end: 4rem;
  }

  img{
    border-radius: 100%;
  }

  .profiles{
    display: flex;
    gap: 4rem;
  }

  .profile-photo{
    text-align: center;
    margin-block-end: 2rem;
  }

  .job-desc{
    font-size: 12px;
    font-weight: bold;
  }
}

.section-four{
  display: flex;
}

footer{
  background-color:  hsl(168, 34%, 41%);
  padding-block-start: 4rem;

  h3{
    text-align: center;
    margin-block-end: 2rem;
    font-family: $font-two;
  }

  ul{
    list-style-type: none;
    text-align: center;
    margin-block-end: 2rem;

    li{
      display: inline;
      margin-inline-start: 2rem;
      font-family: $font-one;

      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }

  div{
    text-align: center;

    img{
      margin-inline-start: 0.7rem;
      margin-block-end: 2rem;
    }
  }
}

.attribution{
  font-size: 11px;
  text-align: center;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}
