@import "config";
@import "desktop";
@import "mobile";



header{
  position: relative;

  nav{
    display: flex;
    justify-content: space-between;

    ul{
      list-style-type: none;

      li{
        display: inline;
        margin-inline-start: 2rem;
      }
    }

    .nav-banner{
      color: #000000;
      font-weight: bold;
      font-family: $font-two;
      font-size: 20px;
      text-decoration: none;
    }

    .nav-link{
      color: #000000;
      text-decoration: none;
      font-family: $font-one;
    }
  }

  .write-up{

    h1{
      letter-spacing: 0.7rem;
      text-transform: uppercase;
      font-family: $font-three;
    }

    img{
      margin-inline-start: 30px;
    }
  }
}

.section-two{

}

.section-three{

  h1{
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }
}

.section-four{
  display: flex;
}

footer{
  background-color:  hsl(168, 34%, 41%);

  h3{
    text-align: center;
  }

  ul{
    list-style-type: none;
    text-align: center;

    li{
      display: inline;
      margin-inline-start: 2rem;

      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }

  div{
    text-align: center;

    img{
      margin-inline-start: 0.7rem;
    }
  }
}

.attribution{
  font-size: 11px;
  text-align: center;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}
